name: "Auto update packages"
on:
  workflow_dispatch:
  schedule:
    - cron: "10 3 * * *"
jobs:
  build:
    name: update
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes ca-derivations
            extra-experimental-features = nix-command flakes ca-derivations
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            keep-going = true
            log-lines = 25
            substituters = https://cache.nixos.org/ https://cache.garnix.io https://moraxyc.cachix.org https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
            trusted-substituters = https://nix-community.cachix.org https://cache.garnix.io https://cache.nixos.org/ https://moraxyc.cachix.org

      - name: Cache Nvfetcher Database
        id: cache-nvfetcher
        uses: actions/cache@v4
        with:
          path: ~/.local/share/nvfetcher
          key: nvfetcher

      - name: Flake update
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          nix flake update --commit-lock-file

      - name: Fetch new versions
        run: |
          cat > secrets.toml <<EOF
          [keys]
          github = "${{ secrets.GITHUB_TOKEN }}"
          EOF

          nix develop -c update-packages

          rm -f secrets.toml

      - name: Commit changes
        run: |
          git add _sources
          git commit -m "chore: update nvfetcher" || echo "No changes to commit"

      - name: Push changes
        run: |
          git push
