name: build-nixos
run-name: "build ${{ inputs.x86_64-linux }} ${{ inputs.aarch64-linux }} ${{ inputs.aarch64-darwin }} ${{ inputs.extra-args && format('({0})', inputs.extra-args) || '' }}"

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      x86_64-linux:
        description: "Nodes (x86_64-linux), comma separated"
        type: string
        required: false
      aarch64-linux:
        description: "Nodes (aarch64-linux), comma separated"
        type: string
        required: false
      aarch64-darwin:
        description: "Nodes (aarch64-darwin), comma separated"
        type: string
        required: false
      extra-args:
        description: "Extra args for colmena"
        required: false
        type: string
      upterm:
        description: "Start upterm session on failure"
        required: false
        type: boolean
        default: false

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        shell: bash
        run: |
          systems=()

          if [[ -n "${{ inputs.x86_64-linux }}" ]]; then
            systems+=("x86_64-linux")
          fi

          if [[ -n "${{ inputs.aarch64-linux }}" ]]; then
            systems+=("aarch64-linux")
          fi

          if [[ -n "${{ inputs.aarch64-darwin }}" ]]; then
            systems+=("aarch64-darwin")
          fi

          json_output=$(jq --compact-output --null-input '$ARGS.positional' --args -- "${systems[@]}")

          echo "Generated matrix: $json_output"
          echo "matrix=$json_output" >> $GITHUB_OUTPUT

  build:
    needs: prepare
    if: ${{ needs.prepare.outputs.matrix != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        system: ${{ fromJson(needs.prepare.outputs.matrix) }}

    runs-on: >-
      ${{ (matrix.system == 'x86_64-linux' && 'ubuntu-latest')
      || (matrix.system == 'aarch64-linux' && 'ubuntu-24.04-arm')
      || (matrix.system == 'aarch64-darwin' && 'macos-latest') }}

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_PAT }}
          repository: Moraxyc/nixos-config
      - name: Nothing but nix
        if: runner.os == 'Linux'
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: rampage
          root-safe-haven: 4096

      - name: prepare
        env:
          ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
          ATTIC_SERVER: ${{ vars.ATTIC_SERVER }}
        run: |
          sudo mkdir -p /run/secrets
          printf "machine nix-cache.qaq.li\npassword %s\n" "$ATTIC_TOKEN" | sudo tee /run/secrets/nix-netrc > /dev/null
          whoami
          pwd
          ls
          lscpu
          free -h
          df -h
          sudo mkdir -p /nix/build

      - name: Install nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GH_PAT }}
          extra_nix_config: |
            build-dir = /nix/build
            experimental-features = nix-command flakes ca-derivations auto-allocate-uids cgroups pipe-operators dynamic-derivations recursive-nix
            system-features = nixos-test benchmark big-parallel kvm
            keep-going = true
            log-lines = 25
            netrc-file = /run/secrets/nix-netrc
            substituters = https://nix-cache.qaq.li/moraxyc https://moraxyc.cachix.org https://cache.nixos.org/ https://cache.garnix.io https://cache.nixos-cuda.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= moraxyc.cachix.org-1:p00BlzhjSZq23aXYuzeUF2uXdE8ikh6tq9aV1seenhQ= moraxyc:fLUN1qkE59zF7jNqc2paA06LcxLzcoBMyGfWLOKU2NY= cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g= cache.nixos-cuda.org:74DUi4Ye579gUqzH4ziL9IyiJBlDpMRn9MBN8oNan9M=

      - name: Run colmena build
        env:
          INPUT_X86: ${{ inputs.x86_64-linux }}
          INPUT_ARM: ${{ inputs.aarch64-linux }}
          INPUT_DARWIN: ${{ inputs.aarch64-darwin }}
          CURRENT_SYSTEM: ${{ matrix.system }}
          EXTRA_ARGS: ${{ inputs.extra-args }}
        run: |
          if [[ "$CURRENT_SYSTEM" == "x86_64-linux" ]]; then TARGET_NODES="$INPUT_X86"; fi
          if [[ "$CURRENT_SYSTEM" == "aarch64-linux" ]]; then TARGET_NODES="$INPUT_ARM"; fi
          if [[ "$CURRENT_SYSTEM" == "aarch64-darwin" ]]; then TARGET_NODES="$INPUT_DARWIN"; fi

          echo "Building for system: $CURRENT_SYSTEM"
          echo "Targets: $TARGET_NODES"

          nix-build -A devShells.$(nix eval --expr 'builtins.currentSystem' --impure --raw).default --out-link .shell
          nix develop --command colmena build --on "$TARGET_NODES" --keep-result $EXTRA_ARGS > /dev/null 2>&1

      - name: push results to cache
        run: |
          set -ex

          (realpath -qe .gcroots/* .shell || true) > paths
          [[ -s paths ]] || exit 0

          nix develop -c attic login default "$ATTIC_SERVER" "$ATTIC_TOKEN"
          if ! nix develop -c attic cache info "$ATTIC_CACHE"; then
            echo "::error::attic returned an error"
            exit 0
          fi
          nix develop -c attic push --stdin "$ATTIC_CACHE" < paths > /dev/null 2>&1
        env:
          ATTIC_SERVER: ${{ vars.ATTIC_SERVER }}
          ATTIC_CACHE: ${{ vars.ATTIC_CACHE }}
          ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}

      - name: start upterm session
        if: ${{ inputs.upterm }}
        uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
