name: "Build and populate cache"
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "35 3 * * *"
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - label: x86_64-linux
            image: ubuntu-latest
          - label: aarch64-linux
            image: ubuntu-24.04-arm
            system: aarch64-linux
          - label: aarch64-darwin
            image: macos-latest
            system: aarch64-darwin
    name: ${{ matrix.label }}
    runs-on: ${{ matrix.image }}
    permissions:
      contents: write
    steps:
      - name: Nothing but nix
        if: runner.os == 'Linux'
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: rampage
          root-safe-haven: 2048

      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes ca-derivations
            extra-experimental-features = nix-command flakes ca-derivations
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            keep-going = true
            log-lines = 25
            substituters = https://cache.nixos.org/ https://cache.garnix.io https://moraxyc.cachix.org https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
            trusted-substituters = https://nix-community.cachix.org https://cache.garnix.io https://cache.nixos.org/ https://moraxyc.cachix.org
      # - name: Show nixpkgs version
      #   run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: moraxyc
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check evaluation
        run: |
          nix flake show
      - name: Build nix packages
        run: nix shell nixpkgs#nix-build-uncached -c nix-build-uncached ci.nix -A cacheOutputs --show-trace --system ${{ matrix.label }}
      # - name: Trigger NUR update
      #   # Don't replace <YOUR_REPO_NAME> here!
      #   if: ${{ matrix.nurRepo != '<YOUR_REPO_NAME>' }}
      #   run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ matrix.nurRepo }}"
